<div class="header-container">

  <div id="header-label">
    <h3>Unity</h3>
    <p>A Co-Working Space</p>
  </div>
  <div id="header-gif-container">
  </div>
  <!-- Default dropleft button -->
  <a href="#" routerlink="#">
    <img src="../../assets/images/logo-green.png" alt="" >
  </a>

  <div class="btn-group dropleft menu-button">
    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu">
      <!-- Dropdown menu links -->
      <a href="#"><li>Home</li></a>
      <a routerLink="login"><li>Login</li></a>
      <a href="#" routerLink="plans"><li>Plans</li></a>
      <a href="#" routerLink="amenities"><li>Amenities</li></a>
      <a routerLink="stour"><li>Tour</li></a>
      <a href="#"><li>Book A Conference</li></a>
      <a href="#"><li>Gallery</li></a>
      <a href="#" routerLink="contact"><li>Contact US</li></a>
      <a href="#" routerLink="about"><li>About Us</li></a>
    </div>
  </div>
  <div id="header-links">
    <div id="header-links-list">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a href="#" routerLink="plans">Plans</a></li>
        <li><a href="#" routerLink="amenities">Amenities</a></li>
        <li><a routerLink="stour">Tour</a></li>
        <li><a href="#">Book A Conference</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#" routerLink="contact">Contact US</a></li>
        <li><a href="#" routerLink="about">About Us</a></li>
      </ul>
    </div>
  </div>
</div>
