@import "hamburger.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: auto;
}

button {
position: absolute;
left: 350px;
top: 25px;
}

#header {
  background-image: url(../../assets/images/header-img.png);
  background-repeat: no-repeat;
  width: 400px;
  height: 100px;
  margin: 5px auto 20px auto;
  // position: relative;
}

#dropdown  {
  display: none;
  li {
    list-style-type: none;
    text-transform: uppercase;
  }

}
