<div class="header-container">

  <div id="header-label">
    <h3>Unity</h3>
    <p>A Co-Working Space</p>
  </div>
  <div id="filler">
  </div>
  <!-- Default dropleft button -->
  <a href="#" routerlink="#" id="header-logo">
    <img src="../../assets/images/logo-green.png" alt="" >
  </a>

  <div class="btn-group dropleft menu-button">
    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu">
      <!-- Dropdown menu links -->
      <a routerLink="home"><li>Home</li></a>
      <a routerLink="login"><li>Login</li></a>
      <a  routerLink="plans"><li>Plans</li></a>
      <a  routerLink="amenities"><li>Amenities</li></a>
      <a routerLink="stour"><li>Tour</li></a>
      <a routerLink="gallery"><li>Gallery</li></a>
      <a  routerLink="about"><li>About Us</li></a>
    </div>
  </div>
  <div id="header-links">
    <div id="header-links-list">
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="plans">Plans</a></li>

        <li id="stour-break"><a routerLink="stour">Tour</a></li>
      </ul>
      <br>
      <ul>
        <li><a routerLink="gallery">Gallery</a></li>
        <li><a  routerLink="amenities">Amenities</a></li>
        <li><a  routerLink="about">About Us</a></li>
      </ul>


    </div>
  </div>
</div>
