#footer {
  display: flex;
  display:inline-block;
  background-color: #D2E0DB;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  position:fixed;
   bottom: 0;
   display: block;
   z-index: 100;
}

@mixin social-icon {
  height: 40px;
  width: 40px;
}

#footer-images {
  width: 90px;
  float: left;
  margin-right: 6rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

img{
  @include social-icon;
}

#contact-info p {
  line-height: .1rem;
  margin-top: 2rem;
  margin-left: 2rem;
}
