.about-container{
  max-width: 1000px;
}

.info-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  // align-items: center;
 //  clear: both;
 // float: none;
}

h3 {
  width: 100%;
text-align: center;
   display: block;
  flex-wrap:nowrap;
  display: inline-block;
  font-weight: 300;
}

.about-info-cards{
  margin-bottom: 5%;
}
