h3 {
  text-align: center;
  margin-top: 3rem; }

.gallery-image {
  width: 100%; }

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 3rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem; }

.column {
  -ms-flex: 25%;
  -webkit-box-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 .4rem; }

.column img {
  margin-top: .8rem;
  vertical-align: middle; }

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    -webkit-box-flex: 50%;
    flex: 50%;
    max-width: 50%; } }

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    -webkit-box-flex: 100%;
    flex: 100%;
    max-width: 100%; } }
