// @import "../header/header.component.scss";
@mixin flex-plan-preview {
  .plans-preview{
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;
  }
  .plans-preview-icons {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(255,255,255,0.4);

    // background-image: url(../../assets/images/plans-preview/motion_cube.gif);
    //  background-repeat: no-repeat;
    //  background-attachment: fixed;
    // background-position: center;
  }
}

#tour-button, #fancy-button {
  border-color: #979797;
  border-width: 4px;
  border-style: double;
  border-radius: 0rem;
  padding: 2px 6px;
  color: black;
  text-decoration: none;
}



// -------------Tour With US POP UP------------


// --------------------------------------------------

#amenities-a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

#amenities-image{
  margin-top: 1rem;
}

#amenities-preview {
  display: flex;
  color: white;

}

// -------------Plans Section---------------
#plans-preview-section{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

}
#fancy-button-border-plans{
// align-self: center;
  // margin-left: 7rem;
}

#plans-preview-container {
  @include flex-plan-preview;
  max-width: auto;
  // margin-top: 200px;
  display: block;
}



.fancy-button-border{
// margin-left: 50%;
align-self: center;
}

.plans-preview {
  width: 300px;
  height: 145px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
  margin: 10px auto;
  box-shadow: 8px 10px 20px 0px rgba(46,61,73,.15);
}


.plans-preview-icons {
  width: 84px;
  height: 84px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.1);
  box-shadow: 8px 10px 20px 0px rgba(46,61,73,.15);
  border: .125rem solid transparent;
}

.plans-preview-text {
  opacity: 100;
  z-index: 10;
  width: 84px;
  height: 84px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
  padding-top: 2rem;
  background-color: rgba(255,255,255,0.1);
  box-shadow: 8px 10px 20px 0px rgba(46,61,73,.15);
  border: .125rem solid transparent;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: white;
}

#day-plan-preview{
  background-image: url(../../assets/images/plans-preview/mirrors-green.png) ;
  // opacity: .9;
  // filter:blur(1px);
  color: white;
  z-index: 0;
}

#week-plan-preview{
  background-image: url(../../assets/images/plans-preview/images-2.jpg) ;
  // opacity: .9;
  // filter:blur(1px);
  color: white;
  z-index: 0;
}


#month-plan-preview{
  background-image: url(../../assets/images/plans-preview/entrance.jpg) ;
  background-size: 100%;
  // opacity: .9;
  // filter:blur(1px);
  color: white;
  z-index: 0;
}


// ------------------------------------------------
#home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 20px 0;
  height: 120%;
}

.tour-button-border{

  // display: block;

  // width: 159px;

  z-index: 0  ;

}
.preview-icons {
  display: block;

}

#home-container:last-of-type {
  margin-bottom: 10%;
}

#home-container > div, .tour-button-border {
  margin-bottom: 20px;
}

#carousel-section {
// background-image: url(../../assets/images/carousel/gold-p1.jpg);
background-size: cover ;
min-width: 500px;
max-width: 500px;
min-height: 500px;
max-height: 500px;
width: auto;
}

#carouselExampleIndicators{
  max-height: 95%;
  max-width: 80%;
  margin-left: 10%;
}

@media only screen and (max-width:500px) {
  #carousel-section {
    // min-height: 400px;
    // max-height: 600px;

  }
  .img-fluid {
    // height: 400px;
    // min-width: 90%;
    // max-width: 90%;
    background: no-repeat scroll center top transparent;
  }
}
@media only screen and (min-width:500px) {
  #carousel-section {
    // min-height: 400px;
    max-height: 600px;
  }
  .img-fluid {
    min-width: 500px;
    max-width: 500px;
    min-height: 300px;
    max-height: 300px;
    // min-width: 90%;
  }
}

@media only screen and (min-width:800px) {
  #carousel-section {
    min-width: 600px;
    max-width: 600px;
    min-height: 400px;
    max-height: 400px;
  }
  #plans-preview-container {
      display: flex;
       // flex-direction: row;
       justify-content: space-around;
       align-content: space-around;
       min-width: 975px;
       // max-width: 1000px;
  }


}
