@import "../header/header.component.scss";
@mixin flex-plan-preview {
  .plans-preview{
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;
  }
  .plans-preview-icons {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
  }
}

#tour-button {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  // border-radius: 1;
  padding: 5px 2.5px 5px 2.5px ;

}

.tour-button-border {
  // border: 7px 2.5px 7px 2.5px
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  padding: 7px 2.5px 7px 2.5px ;
  // border: 7px 2.5px 7px 2.5px ;
  max-width: 159px;
}

// -------------Tour With US POP UP------------
#tour-with-us{
  visibility: hidden;
  position: absolute;
}


// --------------------------------------------------


#amenities-preview {
  // background-image: url(../../assets/images/amenities-preview.png);
  width: auto;
  height: 180px;
  // margin-right: 18px;
  // margin-top: 20px;
  // position: relative;
  text-align: center;
  color: white;

}

.preview-icons{
  display: flex;
  justify-content: flex-start;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  transform: translate(-50%, -50%);

  line-height: 10px;
  border-top: 1px solid white;
  padding-top: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;

}

// -------------Plans Section---------------
#plans-preview-container {
  @include flex-plan-preview;
  max-width: auto;
  // margin-top: 200px;
  display: block;

}
#plans-preview-section h3 {
  max-width: auto;
  text-align: center;

}
.plans-preview {
  width: 300px;
  height: 145px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
  margin: 10px auto;

}


.plans-preview-icons {
  width: 84px;
  height: 84px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
}

#day-plan-preview{


  color: white;
  z-index: 0;
  position: relative;
}

.background {
  // position:absolute;
  // top:0;
  // left:0;
  // right:0;
  // bottom:0;
  // background-color:red;
  // background-image: url(../../assets/images/plans-preview/mirrors-green.png);
  // filter: blur(3px);
  z-index:-1;
}
.plans-preview-text {
  opacity: 100;
  z-index: 10;
}
// ------------------------------------------------
#home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 20px 0;
  height: 120%;
}

.tour-button-border{

  // display: block;

  width: 159px;
  z-index: 0
  ;

}
.preview-icons {
  display: block;

}
#carousel-section {
  display: block;
  max-width: 80%;

}
#plans-preview-section {
  display: block;

}

#home-container:last-of-type {
  margin-bottom: 10%;
}

#home-container > div, .tour-button-border {
  margin-bottom: 20px;
}

@media only screen and (min-width:500px) {
  #carousel-section {
    max-width: 411px;

  }

}

@media only screen and (min-width:800px) {
  #carousel-section {
    max-width: 700px;
  }

}
