#tour-button {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  padding: 5px 2.5px 5px 2.5px; }

.tour-button-border {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  padding: 7px 2.5px 7px 2.5px; }

#tour-with-us {
  visibility: hidden; }

#amenities-section {
  display: block; }

#amenities-preview {
  width: 220px;
  height: 124px;
  margin-right: 18px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  color: white; }

.preview-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 10px;
  border-top: 1px solid white;
  padding-top: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder; }

h3 {
  text-align: center; }

.plans-preview {
  width: 300px;
  height: 145px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
  margin: 10px auto; }

.plans-preview-icons {
  width: 84px;
  height: 84px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px; }
