@import "../header/header.component.scss";
@mixin flex-plan-preview {
  .plans-preview{
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;
  }
  .plans-preview-icons {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    // background-image: url(../../assets/images/plans-preview/motion_cube.gif);
    //  background-repeat: no-repeat;
    //  background-attachment: fixed;
    // background-position: center;
  }
}

#tour-button {
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  // border-radius: 1;
  padding: 5px 2.5px 5px 2.5px ;

}

.tour-button-border {
  // border: 7px 2.5px 7px 2.5px
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  padding: 7px 2.5px 7px 2.5px ;
  // border: 7px 2.5px 7px 2.5px ;
  max-width: 159px;
}

// -------------Tour With US POP UP------------
#tour-with-us{
  visibility: hidden;
  position: absolute;
}


// --------------------------------------------------


#amenities-preview {
  // background-image: url(../../assets/images/amenities-preview.png);
  width: auto;
  height: 180px;
  // margin-right: 18px;
  // margin-top: 20px;
  // position: relative;
  text-align: center;
  color: white;

}
#amenities-preview a {
  background-color: white;
  width: 100%;
  height: 100%;
}


// -------------Plans Section---------------
#plans-preview-container {
  @include flex-plan-preview;
  max-width: auto;
  // margin-top: 200px;
  display: block;

}

#plans-h3 {
margin-top: 40px;
text-align: center;
  // max-width: auto;
  // text-align: center;
}

.plans-preview {
  width: 300px;
  height: 145px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
  margin: 10px auto;

}


.plans-preview-icons {
  width: 84px;
  height: 84px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.1);
  // background-image: url(../../assets/images/plans-preview/motion_cube.gif);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  // background-size: 100%;

}

#day-plan-preview{
  background-image: url(../../assets/images/plans-preview/mirrors-green.png) ;
  // opacity: .9;
  // filter:blur(1px);
  color: white;
  z-index: 0;
}

#week-plan-preview{
  background-image: url(../../assets/images/plans-preview/images-2.jpg) ;
  // opacity: .9;
  // filter:blur(1px);
  color: white;
  z-index: 0;
}


#month-plan-preview{
  background-image: url(../../assets/images/plans-preview/entrance.jpg) ;
  background-size: 100%;
  // opacity: .9;
  // filter:blur(1px);
  color: white;
  z-index: 0;
}

.plans-preview-text {
  opacity: 100;
  z-index: 10;
  width: 84px;
  height: 84px;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
  border-radius: 8px;
  padding-top: 20px;
  background-color: rgba(255,255,255,0.1);
  text-align: center;
  justify-content: center;
  align-content: center;
}
// ------------------------------------------------
#home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 20px 0;
  height: 120%;
}

.tour-button-border{

  // display: block;

  width: 159px;
  z-index: 0
  ;

}
.preview-icons {
  display: block;

}
#carousel-section img {
  display: block;
  min-height: 500px;
  max-height: 500px;
}

#home-container:last-of-type {
  margin-bottom: 10%;
}

#home-container > div, .tour-button-border {
  margin-bottom: 20px;
}

@media only screen and (max-width:500px) {
  #carousel-section {
    // min-height: 400px;
    // max-height: 600px;

  }
  .img-fluid {
    // height: 400px;
    min-width: 100%;
    max-width: 100%;
    background: no-repeat scroll center top transparent;
  }
}
@media only screen and (min-width:500px) {
  #carousel-section {
    // min-height: 400px;
    max-height: 600px;
  }
  .img-fluid {
    max-height: 500px;
    min-width: 100%;
  }
}

@media only screen and (min-width:800px) {
  #carousel-section {
    // min-height: 600px;
    max-height: 600px;
  }

}
