<div id="plans-preview-section">
  <span class="fancy-button-border" id="fancy-button-text" id="fancy-button-border-plans">
    <a routerLink="plans" id="fancy-button">Plans</a>
  </span>
  <div id="plans-preview-container">
    <div class="plans-preview" id="day-plan-preview">
      <div class="plans-preview-text">
        <a>$10</a>

      </div>
      <div class="plans-preview-icons">
        <a>Day Pass</a>
      </div>
    </div>

    <div class="plans-preview" id="week-plan-preview">
      <div class="plans-preview-text">
        <p>$40</p>
      </div>


      <div class="plans-preview-icons">
        <a> Week Pass</a>
      </div>
    </div>

    <div class="plans-preview" id="month-plan-preview">
      <div class="plans-preview-text">
        <p>$200</p>
      </div>
      <div class="plans-preview-icons">
        <a>Month Pass</a>
      </div>
    </div>
  </div>
